    <!-- begin content -->
    <section id="content" class="container clearfix">
        <!-- begin page header -->
        <header id="page-header">
            <h1 id="page-title">О нас</h1>	
        </header>
        <!-- end page header -->
        
        <!-- begin main content -->
        <div class="intro">
            <p>Строительная компания «Рубин» успешная, динамично развивающаяся организация и уже заслужила репутацию надежного делового партнера. География строительства охватывает г. Самара и Самарскую область.</p>
        </div>
        
        <p>Строительная компания «Рубин» осуществляет полный комплекс строительных услуг, ведет реконструкцию и ремонт зданий и офисов современными отделочными материалами, строительство частных домов и коттеджей. Компания своими силами выполняет земляные работы, строительство «коробки» здания, устройство наружных и внутренних коммуникаций. Компания берет на себя весь цикл строительства, начиная от формирования технических условий и заканчивая сдачей объекта в эксплуатацию. Главные особенности нашей работы – опыт, качество и профессионализм.
        На сегодняшний день в компании работает около 500 человек. Компания полностью укомплектована профессиональным инженерно-техническим составом и включает в себя следующие службы: Отдел главного инженера, ПТО, сметный отдел, отдел снабжения, юридический отдел, бухгалтерия и высококвалифицированные рабочие кадры строительных специальностей.
        Значительно возросшему доверию к строительной компании «Рубин» и росту ее репутации как надежного застройщика способствуют такие факторы, как финансовая прозрачность и устойчивость, положительная кредитная история, быстрое и качественное строительство жилья, своевременная сдача жилых домов в эксплуатацию, техническое и коммунальное обслуживание построенных домов силами собственной управляющей компании. Строительная компания «Рубин» успешная, динамично развивающаяся организация и уже заслужила репутацию надежного делового партнера.</p>
        
        <div class="space20"></div>
        
        <!-- begin team -->
        <section>
            <h2>Наша команда</h2>
            <div class="team-member one-third">
                <%=image_tag "team-member.png", class:"photo", alt:"Team Member" %>
                <div class="content">
                    <h3 class="name">John Doe</h3>
                    <span class="job-title">Director and Founder</span>
                    <p>Cras pellentesque suscipit iaculis. Nulla lobortis, risus sed consequat pretium, ligula tellus luctus ipsum, non egestas elit enim et orci. Sed blandit ligula.</p>
                </div>
                <ul class="social-links">
                    <li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>
                    <li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
                    <li class="linkedin"><a href="#" title="LinkedIn" target="_blank">LinkedIn</a></li>
                    <li class="googleplus"><a href="#" title="Google+" target="_blank">Google+</a></li>
                    <li class="skype"><a href="#" title="Skype" target="_blank">Skype</a></li>
                    <li class="email"><a href="#" title="Email" target="_blank">Email</a></li>
                </ul>
            </div>
            <div class="team-member one-third">
                <%=image_tag "team-member.png", class:"photo", alt:"Team Member" %>
                <div class="content">
                    <h3 class="name">Jane Doe</h3>
                    <span class="job-title">Web Designer</span>
                    <p>Cras pellentesque suscipit iaculis. Nulla lobortis, risus sed consequat pretium, ligula tellus luctus ipsum, non egestas elit enim et orci. Sed blandit ligula.</p>
                </div>
                <ul class="social-links">
                    <li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>
                    <li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
                    <li class="linkedin"><a href="#" title="LinkedIn" target="_blank">LinkedIn</a></li>
                    <li class="googleplus"><a href="#" title="Google+" target="_blank">Google+</a></li>
                    <li class="skype"><a href="#" title="Skype" target="_blank">Skype</a></li>
                    <li class="email"><a href="#" title="Email" target="_blank">Email</a></li>
                </ul>
            </div>
            <div class="team-member one-third">
                <%=image_tag "team-member.png", class:"photo", alt:"Team Member" %>
                <div class="content">
                    <h3 class="name">John Doe</h3>
                    <span class="job-title">Web Developer</span>
                    <p>Cras pellentesque suscipit iaculis. Nulla lobortis, risus sed consequat pretium, ligula tellus luctus ipsum, non egestas elit enim et orci. Sed blandit ligula.</p>
                </div>
                <ul class="social-links">
                    <li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>
                    <li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
                    <li class="linkedin"><a href="#" title="LinkedIn" target="_blank">LinkedIn</a></li>
                    <li class="googleplus"><a href="#" title="Google+" target="_blank">Google+</a></li>
                    <li class="skype"><a href="#" title="Skype" target="_blank">Skype</a></li>
                    <li class="email"><a href="#" title="Email" target="_blank">Email</a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </section>
        <!-- end team -->
        
        <!-- end main content -->
    </section>
    <!-- end content -->           