<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Отопление и водоснабжение</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/sewerage.png", alt: "Отопление и водоснабжение"%></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Cистемы канализации отопления и водоснабжения</h2>
                        <div class="entry-content">
                            <p><p>Строительная компания «Рубин» предоставляет сантехнические услуги и выполняет все виды работ, которые связаны с установкой систем водоснабжения и отопления уже на протяжении довольно длительного времени. За весь этот период услугами нашей компании смогли воспользоваться большое число частных клиентов.</p>

                            <p>Мы всегда рады предложить всем своим клиентам высокопрофессиональный ремонт и монтаж трубопроводов и сантехники, который обеспечивается гарантией на все виды произведенных нами сантехнических работ. Наше главное преимущество – это команда высокопрофессиональных мастеров и монтажников, многие из которых трудятся у нас со дня открытия нашей компании.</p>

                            <p>У каждого клиента возникнет огромное множество вопросов по поводу выбора сантехники и труб, их монтажа и др. Именно на этом этапе наша компания сможет помочь Вам и избавит от всех назревающих сложностей. Наши менеджеры предельно точно опишут схему работ, подберут самостоятельно правильную сантехнику и трубы, которые подойдут именно для данного помещения. Для нашей компании самое главное – это удовлетворить все желания и потребности клиента. Если нужны работы, связанные с отоплением, заменой канализации или другие работы, связанные с этими задачами, то добро пожаловать именно к нам.</p>

                            <p>Мы предоставляем следующие виды работ:</p>

                            <ul class="circle indent">
                            <li>Проектирование инженерных систем (проект системы отопления и теплого пола, вентиляции и кондиционирования, водоснабжения и канализации, а так же котельных, холодильных машин и гидромодулей для кондиционирования с водяным или гликолевым хладагентом)</li>

                            <li>Монтаж внутренних инженерных систем (монтаж системы отопления, водоснабжения и канализации, а так же котельных бытового назначения мощностью до 320 кВт, монтаж насосов, монтаж напольных котлов, монтаж настенных котлов, монтаж водяных теплых полов, монтаж газовых котлов)</li>

                            <li>Проектирование отопления коттеджей Проектирование отопления загородных домов (производим все работы связанные с проектом отопления коттеджей, загородных домов или дач любых архитектурных форм, площадей застройки и материалов из которых возводятся здания. Обязательным является предоставление всех сведений по объекту (проект строительной части), желательным является выезд инженера на объект для детального обследования или замеров)</li>

                            <li>Монтаж отопления коттеджей Монтаж отопления загородных домов (производим монтаж отопления для коттеджей, загородных домов и дач)</li>

                            <li>Установка санитарно-технического оборудования (импортная и отечественная сантехника, отопительное оборудование, сантехническое оборудование, насосное оборудование, унитазы, биде, раковины, ванны, мойки, смесители, сифоны)</li>
                            
                            <li>Установка дизайн-радиаторов (установка дизайнерских отопительных приборов JAGA, EVA, Kermi, полотенцесушителей авторского дизайна Zehnder, Devon&Devon и др.)</li>

                            <li>Установка сантехники и аксесусаров премиум класса (Установка элитной сантехники, установка сантехники и аксесуаров повышенной ценовой категории любых производителей таких как Devon & Devon, Gessi, Zehnder, JAGA)</li>

                            <li>Ремонт и замена труб отопления, водопровода и канализации, замена отопительных приборов (радиаторов, конвекторов, регистров)</li>

                            <li>Сантехнические работы (ремонт и замена труб водопровода, ремонт и замена труб канализации, ремонт и замена труб отопления, замена радиаторов отопления, замена батарей отопления, установка счетчиков воды (горячей и холодной), установка радиаторов отопления)</li>

                            <li>Вызов сантехника на дом Услуги слесаря-сантехника (прочистка канализации, устранение засоров, прочистка сифонов, устранение засора унитаза, ремонт сантехники, замена и ремонт смесителей, ремонт душевых кабин)</li>

                            <li>Установка бытовой техники (стиральные и посудомоечные машины, газовые и электрические плиты, варочные поверхности, духовые шкафы, вытяжки, бытовые насосы канализации Grundfos Sololift и Wilo DrainLift, водонагреватели, измельчители бытовых отходов, газовые колонки, фильтры очистки воды</li>

                            </ul>

                            <p>Мы всегда следим за последними новинками в сфере выпуска новых материалов и стараемся использовать их на наших объектах. Кроме того, благодаря имеющемуся у нас современному оборудованию, наши опытные специалисты выполнят алмазное сверление в различных плоскостях – вертикальных, горизонтальных, и под углом. Мы в сжатые сроки осуществим бурильные работы различной сложности.</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><a href="#">Благоустройство</a></li>
                            <li><a href="#">Кровельные работы</a></li>
                            <li><a href="#">Металлоконструкции</a></li>
                            <li><a href="#">Заборы</a></li>
                            <li><a href="#">Отделочные работы</a></li>
                            <li><a href="#">Малоэтажное строительство</a></li>
                            <li><a href="#">Отопление и водоснабжение</a></li>
                            <li><a href="#">Электромонтажные работы</a></li>
                            <li><a href="#">Бассейны</a></li>
                    </ul>
                </div>
                
                <div class="widget flickr-widget">
                	<h3>Flickr Widget</h3>		
                    <ul class="flickr-feed clearfix"></ul>
                </div>
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->