<!-- begin content -->
        <section id="content" class="container clearfix">
            <!-- begin page header -->
            <header id="page-header">
                <h1 id="page-title">Выполненные работы</h1>  
            </header>
            <!-- end page header -->
            
            <!-- begin main content -->
            
            <!-- begin filter -->
            <div id="filter">
                <span>Фильтр:</span>
                <ul>
                <li class="active"><a href="#" class="all">Все работы</a></li>
                <li><a href="#" class="beautyfication">Благоустройство</a></li>
                <li><a href="#" class="roofing">Кровельные работы</a></li>
                <li><a href="#" class="metall">Металлоконструкции</a></li>
                <li><a href="#" class="fence">Заборы</a></li>
                <li><a href="#" class="finishing">Отделочные работы</a></li>
                <li><a href="#" class="building">Малоэтажное строительство</a></li>
                <li><a href="#" class="heating">Отопление</a></li>
                <li><a href="#" class="water_supply">Водоснабжение</a></li>
                <li><a href="#" class="sewerage">Канализация</a></li>
                <li><a href="#" class="electrician">Электромонтажные работы</a></li>
                <li><a href="#" class="pools">Бассейны</a></li>
                </ul>
            </div>
            <!-- end filter -->
                
            <!-- begin gallery -->
            <ul id="gallery" class="portfolio-grid clearfix">


                <li data-id="id-1" data-type="building" class="entry one-fourth">
                    <div class="entry-slider">
                        <ul>
                            <li><a class="fancybox" data-fancybox-group="100_Auto"><%=image_tag "projects/100_auto/full/100_auto_1.jpeg", alt: "Сто авто" %>
                                <span class="overlay zoom"></span></a>
                            </li>
                            
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="100_Auto"> <%=image_tag "projects/100_auto/full/100_auto_2.jpeg", alt: "Сто авто" %>
                                <span class="overlay zoom"></span></a>
                            </li>
                            
                            <li style="display: none;"><a class="fancybox" data-fancybox-group="100_Auto"> <%=image_tag "projects/100_auto/full/100_auto_3.jpeg", alt: "Сто авто" %>
                                <span class="overlay zoom"></span></a>
                            </li>
                        </ul>
                    </div>
                        <h4 class="entry-title"><a href="portfolio-item-slider.html">Автосалон “Сто авто”</a></h4>
                    
                    <div class="entry-content">
                        <p>Строительство корпуса №3</p>
                    </div>

                </li>
            </ul>
            <!-- end gallery -->
            
            <!-- end main content -->
        </section>
        <!-- end content -->    