<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Изготовление металлоконструкций</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/metall.jpg", alt: "Металлоконструкции"%></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Металлоконструкции</h2>
                        <div class="entry-content">
                            <p>Наша компания производит самые разнообразные металлоконструкции в Самаре. Оборудование позволяет изготавливать сварные балки и колонны разной длины и высоты, прогоны, ригели, связи, стойки. Нами освоен выпуск стальных ферм из уголка, профильных или круглых труб для зданий с различной шириной пролета. Техническая служба компании в кратчайшие сроки разработает чертежи марки КМД на основании проекта КМ (конструкции металлические). Частным лицам будут интересны ограждения, заборы, ворота, качели, теплицы и многое другое, что так необходимо в домашнем хозяйстве.</p>

                            <p>Предприятие также оказывает услуги по выполнению отдельных операций: гибки, резки и рубки металлопроката различной толщины. Очень удобная опция для индивидуальных предпринимателей и мелких мастерских. Особого внимания заслуживает плазменная резка металла. Получаемая заготовка отличается исключительной точностью и не нуждается в дальнейшей механической обработке.</p>

                            <p>Однако деятельность компании не ограничивается лишь изготовлением металлоконструкций на заказ. Без их установки невозможно построить новое здание. Поэтому мы предлагаем нашим заказчикам следующий шаг сделать вместе. Для быстрого и качественного монтажа металлоконструкций компания имеет все необходимое сварочное и крановое оборудование и квалифицированный рабочий персонал. Наши монтажники зарекомендовали себя положительным образом на многих строительных объектах.</p>

                            <p>Металлические конструкции – это обобщенное название конструкций из металла, которые используются в самых разных областях человеческой деятельности. Наибольшее распространение они получили в современном строительстве при возведении торгово-развлекательных комплексов, складов, промышленных предприятий, ангаров и так далее.</p>

                            <p>С каждым годом металлоконструкции завоевывают все большую популярность. По сравнению с другими видами конструкций они обладают целым рядом неоспоримых преимуществ:</p>

                            <ul class="circle indent">
                            <li>Технологичность</li>
                            <li>Легкость</li>
                            <li>Прекрасные декоративные свойства</li>
                            <li>Пространственная жесткость и прочность</li>
                            <li>Быстрота сооружения (монтажа)</li>
                            </ul>

                            <p>В качестве исходного материала для производства металлоконструкций используются стальные балки, уголки, круглые и профильные трубы, швеллеры, листовой прокат. Между собой отдельные составные части конструкций могут соединяться методом сварки, клепки или с помощью болтов.</p>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><a href="#">Благоустройство</a></li>
                            <li><a href="#">Кровельные работы</a></li>
                            <li><a href="#">Металлоконструкции</a></li>
                            <li><a href="#">Заборы</a></li>
                            <li><a href="#">Отделочные работы</a></li>
                            <li><a href="#">Малоэтажное строительство</a></li>
                            <li><a href="#">Отопление</a></li>
                            <li><a href="#">Водоснабжение</a></li>
                            <li><a href="#">Канализация</a></li>
                            <li><a href="#">Электромонтажные работы</a></li>
                            <li><a href="#">Бассейны</a></li>
                    </ul>
                </div>
                
                <div class="widget flickr-widget">
                	<h3>Flickr Widget</h3>		
                    <ul class="flickr-feed clearfix"></ul>
                </div>                
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->