<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Строительство бассейнов</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            <section id="main" class="blog-entry-single three-fourths">
            	<article class="entry clearfix">
                    <div class="entry-image">
                        <a class="fancybox" href="images/entries/full-size/living-white.jpg" title="Post Title"><span class="overlay zoom"></span><%=image_tag "slide/pools.jpg", alt: "Строительство бассейнов"%></a>
                    </div>
                    
                    <div class="entry-body">
                        <h2 class="entry-title">Строительство бассейнов</h2>
                        <div class="entry-content">
                            <p>Строительство бассейнов в загородном доме, на даче или другом объекте - это сложный многоэтапный процесс. Данная задача должна выполняться высококвалифицированными специалистами. Их профессионализм должен обеспечивать непрерывный процесс строительства бассейнов, который включает в себя, как работы по чаше, так и монтаж оборудования, проводя его параллельно.</p>

                            <p>Виды бассейнов:</p>

                            <ul class="circle indent">
                            <li>Бетонные бассейны</li>

                            <li>Композитные бассейны</li>

                            <li>Гидромассажные СПА</li>

                            <li>Сборно-разборные бассейны</li>

                            <li>Полипропиленовые бассейны</li>

                            </ul>


                            <p>Проектирование и строительство бассейнов под ключ</p>

                            <p>Все мы знаем, что плавание является очень приятным и полезным для организма человека занятием. По этой причине большое количество людей хотят поскорей уехать из городской суеты и очутиться на берегу моря, либо поехать на дачу, поближе к природе, где можно расслабиться и поплавать. Однако, не смотря на всю красоту нашей природы, далеко не в каждом водоеме безопасно плавать, так как нам неизвестно насколько экологически чистая и безопасная для нашего здоровья в них вода. По этой причине все с большей частотой строительство бассейнов в загородных домах становится наиболее оптимальным решением этой проблемы. И кстати, весьма эффективным, и не таким дорогим, как кажется на первый взгляд.</p>

                            <p>На сегодняшний день строительство плавательных бассейнов в нашей стране достаточно быстро развивается. Разрабатываются и продвигаются новые материалы, оборудование и технологии. Все это позволяет осуществлять строительство бассейнов в Москве для каждого отдельного вида работ различными способами. Оно становится более доступным и быстрым.</p>

                            <p>Конечно же, всем клиентам намного удобнее, если весь комплекс мер и услуг предоставляла одна компания поэтому, строительная компания «Рубин» предлагает и исполняет строительство бассейнов под ключ. Одним словом, наши специалисты предоставляют весь спектр работ на объекте:</p>

                            <ul class="circle indent">
                            <li>Проектирование бассейнов</li>

                            <li>Монтаж оборудования</li>

                            <li>Бетонные, отделочные, гидроизоляционные и другие работы</li>

                            </ul>

                            <p>Строительство чаши бассейна, а так же другие виды работы производятся с применением природных чистых материалов и соблюдением всех норм. Это позволяет нам гарантировать высокое качество и надежность реализации проектов любой сложности.</p>

                            <p>Строительство спортивных бассейнов и объектов другого назначения подразделяются на несколько основных этапов, которые обычно выполняют в следующей очередности. Начальный, самый важный из них - проектирование бассейнов. При разработке проекта принимают во внимание особенности формы и конструкции чаши, делается выбор по типу конструкции (скиммерная или переливная). Многие ошибочно полагают, что проектированием бассейна может заниматься каждый проектировщик, либо можно обойтись и без проекта в принципе. Однако существует множество нюансов, таких как: размещение чаши, форма и др. Все они могут глобально повлиять на конструкцию отдельных элементов и всего сооружения, в целом. Перед тем, как начать выполнять проект бассейна, необходимо предусматривать массу нюансов, для удобства эксплуатации и проведения работ. На данной стадии необходимо учесть все пожелания заказчика с тем, чтобы конструкция могла вписываться в общий интерьер дома или помещения, и одновременно соответствовать нормам и правилам.</p>

                            <p>В России сейчас есть достаточно много крупных компаний, специализирующихся на проектировании бассейнов, и сделать выбор из этого множества непросто. Специалистами строительной компании «Рубин» качественно решается данная задача, учитывая все небходимые требования и рекомендации. Проект состоит из двух основных разделов:</p>

                            <ul class="circle indent">
                            <li>Конструктив железобетонной чаши. В этой части проекта разрабатываются чертежи, по которым выполняют непосредственно строительство чаши бассейнов.</li>

                            <li>Технологический раздел. В нем предоставляются расчеты для подбора мощности оборудования, которым будут оснащаться бассейны, монтаж технологического оборудования и его расположение, в техническом помещении. При отсутствии этих параметров производить работы не рекомендуется.</li>
                            </ul>

                            <p>Перечень, эффективность и вид оборудования для строительства спортивного бассейна, а так же бассейнов других назначений тщательно согласуется исходя из параметров чаши и желания клиента. После этого можно производить монтаж оборудования.</p>

                            <p>Строительство бассейнов и монтаж оборудования необходимо осуществлять согласно технических решений проектировщиков, использовать экологически чистые материалы, руководствуясь правилами согласно СНиП «Строительство бассейнов».</p>

                            <p>Строительство общественных бассейнов, как, впрочем, и других видов бассейнов заканчивается осуществлением работ по отделке чаши и нанесением гидроизоляции, так как от них зависит водонепроницаемость конструкции. Например, переливной бассейн имеет лоток, форма которого достаточно сложна, однако его необходимо отделать и гидроизолировать не только сохраняя водонепроницаемость, но и великолепный внешний вид.</p>

                            <p>Опираясь на многолетний опыт работы наших сотрудников, мы предлагаем бассейны под ключ любой сложности, формы и конфигурации, удовлетворяющие требованиям самых взыскательных клиентов. Также мы всегда поставляем оборудование от самых известных торговых производителей России, США и Европы. Строительная компания «Рубин» осуществляет строительство открытых бассейнов и других видов плавательных сооружений в максимально короткие сроки. При заключении договора (строительных, отделочных работ или монтажа оборудования) в нашей компании, вы всегда можете быть уверенны в качестве выполненных работ и всерьез рассчитывать на пунктуальность</p>

                            <p>Строительная компания «Рубин» осуществляет не только разработку бассейнов, строительство бетонных и композитных чаш, а так же монтаж оборудования в технических помещениях, изготовление перекрытий, гидроизоляцию, отделку бассейна. Это далеко не полный перечень услуг.</p>

                            <p>Преимущества заказа строительства бетонных бассейнов в cтроительной компании «Рубин»: </p>

                            <ul class="circle indent">
                            <li>Опыт. Строительная компания «Рубин» ведет свою деятельность в России уже достаточно давно для того, чтобы создать профессиональный коллектив, накопить солидный багаж знаний и реализованных объектов. Все это дает нам возможность производить монтаж бассейнов, строительство открытых и закрытых сооружений в четко оговоренные сроки и с полностью предсказуемым результатом.</li>

                            <li>Современные технологии строительства бассейнов. Применение самых современных технических и технологических решений в данной области позволяет значительно снизить себестоимость работ и предложить современные конструкции, обладающие целым рядом преимуществ. Все технологии строительства чаши бассейна перед применением проходит испытания.</li>

                            <li>Еще одно из главных преимуществ на которое может обратить внимание клиент, заказывающий строительство бассейнов - цены. Мы достаточно серьезно подходим к тому, чтобы стоимость строительства бассейнов в Самаре у нашей компании была вне конкуренции. Разумеется, если сравнивать услуги сопоставимого качества.</li>

                            </ul>

                            <p>Как мы заметили раньше, специалисты, работающие в нашей организации, обладают большим опытом в выполнении проектов любой сложности. К примеру, нашими специалистами постоянно ведутся работы по следующим объектам:</p>

                            <ul class="circle indent">
                            <li>Строительство общественных бассейнов. Сюда можно отнести еще и всевозможные спортивные объекты, плавательные комплексы в фитнес центрах и прочие объекты. По опыту, в данном направлении большим спросом пользуется строительство закрытых бассейнов. Строительная компания «Рубин» из года в год подтверждает свою высочайшую квалификацию при решении подобных задач.</li>

                            <li>Строительство бассейнов на даче. Такие проекты несколько специфичны. Если строительство уличного бассейна планируется на небольшом участке, то это требует тщательной проработки плана местности, учета многих других факторов. За счет большого накопленного опыта в проектировании нашими специалистами, все детали бассейна органично вписываются в существующий ландшафтный дизайн и занимают минимум места на участке.</li>

                            <li>Строительство бассейнов дома. Что может быть приятнее, чем поплескаться в прохладной, бодрящей воде? Трудно представить, учитывая, если строительство закрытых бассейнов предполагается внутри дома. Строительная компания «Рубин» рада предоставить свои услуги для выполнения всех, связанных с этим работ.</li>
                            
                            </ul>
                        </div>
                    </div>
				</article>
            </section>
            <!-- end main content -->
            
            <!-- begin sidebar -->
            <aside id="sidebar" class="one-fourth column-last">
                
            	<div class="widget">
                	<h3>Услуги</h3>		
                    <ul class="menu">
                            <li><a href="#">Благоустройство</a></li>
                            <li><a href="#">Кровельные работы</a></li>
                            <li><a href="#">Металлоконструкции</a></li>
                            <li><a href="#">Заборы</a></li>
                            <li><a href="#">Отделочные работы</a></li>
                            <li><a href="#">Малоэтажное строительство</a></li>
                            <li><a href="#">Отопление и водоснабжение</a></li>
                            <li><a href="#">Электромонтажные работы</a></li>
                            <li><a href="#">Бассейны</a></li>
                    </ul>
                </div>
                
                <div class="widget flickr-widget">
                	<h3>Flickr Widget</h3>		
                    <ul class="flickr-feed clearfix"></ul>
                </div>
            </aside>
            <!-- end sidebar -->
        </section>
        <!-- end content -->