
            <!-- begin table -->
            <section id="content" class="container clearfix">

                        <header id="page-header">
                <h1 id="page-title">Прайс лист на строительные работы</h1>  
            </header>
                             
                <table class="gen-table">
                    <caption>
                        Земляные работы
                    </caption>

                    <thead>
                     <tr>
                        <th>Наименование работ</th>
                        <th>ед.изм.</th>
                        <th>цена, руб.</th>
                        </tr>
                    </thead>

                    <tbody>       
                        <tr>
                            <td>Геодезические работы по разбивке осей и выноса отметок, устройство обноски</td>
                            <td>м&sup2;</td>
                            <td>75</td>
                        </tr>
                        <tr class="odd">
                            <td>Геологические изыскания, бурение скважин для исследования состава грунта и уровня грунтовых вод на участке</td>
                            <td>м. п.</td>
                            <td>4500</td>
                        </tr>
                        <tr>
                            <td>Разработка грунта вручную</td>
                            <td>м&sup3;</td>
                            <td>1500</td>
                        </tr>
                        <tr class="odd">
                            <td>Срезка растительного слоя бульдозером до 250мм.</td>
                            <td>м&sup3;</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>Разработка грунта механизированными средствами с погрузкой в автомобиль</td>
                            <td>м&sup3;</td>
                            <td>450</td>
                        </tr>
                        <tr class="odd">
                            <td>Вывоз разработанного грунта в отвал автотранспортом</td>
                            <td>м&sup3;</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Разработка грунта механизированными средствами в отвал</td>
                            <td>м&sup3;</td>
                            <td>250</td>
                        </tr>
                        <tr class="odd">
                            <td>Обратная засыпка грунта с послойным трамбованием (засыпка пазух)</td>
                            <td>м&sup3;</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>Устройство щебеночных оснований с послойным трамбованием</td>
                            <td>м&sup3;</td>
                            <td>650</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство песчаных оснований с послойным трамбованием</td>
                            <td>м&sup3;</td>
                            <td>550</td>
                        </tr>                                                                        
                    </tbody>                    
                </table>

               
            </section>


            <!-- begin table -->
            <section id="content" class="container clearfix">

                             
                <table class="gen-table">
                    <caption>
                        Бетонные и монтажные работы
                    </caption>

                    <thead>
                     <tr>
                        <th>Наименование работ</th>
                        <th>ед.изм.</th>
                        <th>цена, руб.</th>
                        </tr>
                    </thead>

                    <tbody>       
                        <tr>
                            <td>Устройство бетонной подготовки</td>
                            <td>м&sup3;</td>
                            <td>1200</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство цементно-песчанной стяжки толщиной до 50 мм.</td>
                            <td>м&sup2;</td>
                            <td>от 350</td>
                        </tr>
                        <tr>
                            <td>Устройство опалубки</td>
                            <td>м&sup2;</td>
                            <td>от 450</td>
                        </tr>
                        <tr class="odd">
                            <td>Укладка бетонной смеси в конструкцию при помощи бетононасоса</td>
                            <td>м&sup3;</td>
                            <td>от 1500</td>
                        </tr>
                        <tr>
                            <td>Укладка бетонной смеси в конструкцию без бетононасоса</td>
                            <td>м&sup3;</td>
                            <td>от 1800</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж  фундаментных блоков</td>
                            <td>шт.</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>Монтаж железобетонных фундаментных подушек</td>
                            <td>шт.</td>
                            <td>750</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж железобетонных плит перекрытия</td>
                            <td>шт.</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>Монтаж перемычек весом до 100 кг./ более 100 кг.</td>
                            <td>шт.</td>
                            <td>250/350</td>
                        </tr>
                        <tr class="odd">
                            <td>Приготовление раствора вручную при помощи "миксера"</td>
                            <td>м&sup3;</td>
                            <td>1700</td>
                        </tr>
                        <tr>
                            <td>Сварка арматурных каркасов и металлоконструкций</td>
                            <td>т.</td>
                            <td>20000</td>
                        </tr>
                        <tr class="odd">
                            <td>Измерение прочности бетона, раствора, кирпича (опеделение марки, класса) методом неразрушающего контроля</td>
                            <td>изм.</td>
                            <td>1500</td>
                        </tr>                                                                         
                    </tbody>
                </table>
            </section>

            <!-- begin table -->
            <section id="content" class="container clearfix">

                             
                <table class="gen-table">
                    <caption>
                        Кровельные работы
                    </caption>

                    <thead>
                     <tr>
                        <th>Наименование работ</th>
                        <th>ед.изм.</th>
                        <th>цена, руб.</th>
                        </tr>
                    </thead>

                    <tbody>       
                        <tr>
                            <td>Устройство крыши неутеплёной простой с жесткой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1100</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство крыши неутеплёной сложной с жесткой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1300</td>
                        </tr>
                        <tr>
                            <td>Устройство крыши неутеплёной простой с мягкой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1300</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство крыши неутеплёной сложной с мягкой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1400</td>
                        </tr>
                        <tr>
                            <td>Устройство крыши утеплёной простой с жесткой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1400</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство крыши утеплёной сложной с жесткой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1600</td>
                        </tr>
                        <tr>
                            <td>Устройство крыши утеплёной простой с мягкой кровлей</td>
                            <td>м&sup2;</td>
                            <td>1600</td>
                        </tr>
                        <tr class="odd">
                            <td>Устройство крыши утеплёной сложной с мягкой кровлей</td>
                            <td>м. п.</td>
                            <td>1700</td>
                        </tr>
                        <tr>
                            <td>Подшивка чернового потолка, доска #25мм.</td>
                            <td>м&sup2;</td>
                            <td>120</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж пароизоляционного слоя</td>
                            <td>м&sup2;</td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>Монтаж гидроизоляционного слоя</td>
                            <td>м&sup2;</td>
                            <td>70</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж теплоизоляционного слоя до 150 мм.</td>
                            <td>м&sup2;</td>
                            <td>120</td>
                        </tr>             
                        <tr>
                            <td>Монтаж теплоизояционного слоя свыше 150 мм.</td>
                            <td>м&sup2;</td>
                            <td>150</td>
                        </tr>
                        <tr class="odd">
                            <td>Изготовление и монтаж карнизной коробки (дерево)</td>
                            <td>м. п.</td>
                            <td>300</td>
                        </tr>             
                        <tr>
                            <td>Изготовление и монтаж фронтонного свеса (дерево)</td>
                            <td>м. п.</td>
                            <td>150</td>
                        </tr>
                        <tr class="odd">
                            <td>Подшивка карнизных свесов (перфорированные софиты)</td>
                            <td>м&sup2;</td>
                            <td>450</td>
                        </tr>        
                        <tr>
                            <td>Подшивка фронтонных свесов (не перфорированные софиты)</td>
                            <td>м&sup2;</td>
                            <td>450</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж мансардных окон</td>
                            <td>шт.</td>
                            <td>5000</td>
                        </tr>                
                        <tr>
                            <td>Монтаж элементов снегозадержания (мягкая кровля)</td>
                            <td>шт.</td>
                            <td>100</td>
                        </tr>
                        <tr class="odd">
                            <td>Монтаж водосточной системы (в комплекте)</td>
                            <td>м. п.</td>
                            <td>400</td>
                        </tr>                                                                                 
                    </tbody>
                </table>
            </section>
            <!-- end table -->