	<!-- begin content -->
        <section id="content" class="container clearfix">
        	<!-- begin page header -->
            <header id="page-header">
            	<h1 id="page-title">Pricing Tables</h1>	
            </header>
            <!-- end page header -->
        	
            <!-- begin main content -->
            
			<!-- begin pricing table - style 1 -->
            <section>
            	<h2>Pricing Table &ndash; Style 1</h2>
                                
                <div class="pricing-box one-fourth">
                    <header class="header">
                        <h2 class="title">Basic</h2>
                        <h3 class="price">
                            <span>&#36;20</span>
                            <sup>/month</sup>
                        </h3>
                    </header>
                    <ul class="features">
                        <li><strong>5</strong> Users</li>
                        <li><strong>10</strong> Forms</li>
                        <li><strong>20</strong> Reports</li>
                        <li><strong>500</strong> Entries / Month</li>
                        <li>&mdash;</li>
                        <li>&mdash;</li>
                        <li><strong>3 GB</strong> Storage</li>
                    </ul> 
                    <footer class="footer">
                        <a href="#" class="button black">Order Now</a>
                    </footer>
                </div>
                
                <div class="pricing-box one-fourth">
                    <header class="header">
                        <h2 class="title">Standard</h2>
                        <h3 class="price">
                            <span>&#36;50</span>
                            <sup>/month</sup>
                        </h3>
                    </header>
                    <ul class="features">
                        <li><strong>20</strong> Users</li>
                        <li><strong>Unlimited</strong> Forms</li>
                        <li><strong>Unlimited</strong> Reports</li>
                        <li><strong>3,000</strong> Entries / Month</li>
                        <li><strong>SSL</strong> Encryption</li>
                        <li><strong>Payment</strong> Integration</li>
                        <li><strong>15 GB</strong> Storage</li>
                    </ul> 
                    <footer class="footer">
                        <a href="#" class="button black">Order Now</a>
                    </footer>
                </div>
                
                <div class="pricing-box featured one-fourth">
                    <header class="header">
                        <h2 class="title">Plus</h2>
                        <h3 class="price">
                            <span>&#36;100</span>
                            <sup>/month</sup>
                        </h3>
                    </header>
                    <ul class="features">
                        <li><strong>60</strong> Users</li>
                        <li><strong>Unlimited</strong> Forms</li>
                        <li><strong>Unlimited</strong> Reports</li>
                        <li><strong>15,000</strong> Entries / Month</li>
                        <li><strong>SSL</strong> Encryption</li>
                        <li><strong>Payment</strong> Integration</li>
                        <li><strong>40 GB</strong> Storage</li>
                    </ul> 
                    <footer class="footer">
                        <a href="#" class="button">Order Now</a>
                    </footer>
                </div>
                
                <div class="pricing-box one-fourth column-last">
                    <header class="header">
                        <h2 class="title">Pro</h2>
                        <h3 class="price">
                            <span>&#36;150</span>
                            <sup>/month</sup>
                        </h3>
                    </header>
                    <ul class="features">
                        <li><strong>120</strong> Users</li>
                        <li><strong>Unlimited</strong> Forms</li>
                        <li><strong>Unlimited</strong> Reports</li>
                        <li><strong>100,000</strong> Entries / Month</li>
                        <li><strong>SSL</strong> Encryption</li>
                        <li><strong>Payment</strong> Integration</li>
                        <li><strong>100 GB</strong> Storage</li>
                    </ul> 
                    <footer class="footer">
                        <a href="#" class="button black">Order Now</a>
                    </footer>
                </div>
                <div class="clear"></div>
            </section>
            <!-- end pricing table - style 1 -->
            
            <hr>
            
            <!-- begin pricing table - style 2 -->
            <section>
                <h2>Pricing Table &ndash; Style 2</h2>
                
                <table class="gen-table pricing-table responsive">
                    <thead>
                        <tr>
                            <th class="empty-left-top">&nbsp;</th>
                            <th>
                                <span class="title">Basic</span>
                                <span class="price">
                                	<span>&#36;20</span>
                                    <sup>/month</sup>
                                </span> 
                            </th>
                            <th>
                                <span class="title">Standard</span>
                                <span class="price">
                                	<span>&#36;50</span>
                                    <sup>/month</sup>
                                </span>  
                            </th>
                            <th class="featured">
                            	<span class="title">Plus</span>
                                <span class="price">
                                	<span>&#36;100</span>
                                    <sup>/month</sup>
                                </span> 
                            </th>
                            <th>
                            	<span class="title">Pro</span>
                                <span class="price">
                                	<span>&#36;150</span>
                                    <sup>/month</sup>
                                </span> 
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="empty-left-bottom">&nbsp;</td>
                            <td><a class="button black" href="#">Order Now</a></td>
                            <td><a class="button black" href="#">Order Now</a></td>
                            <td><a class="button" href="#">Order Now</a></td>
                            <td><a class="button black" href="#">Order Now</a></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th>Users</th>
                            <td>5</td>
                            <td>20</td>
                            <td>60</td>
                            <td>120</td>
                        </tr>
                        <tr class="odd">
                            <th>Forms</th>
                            <td>10</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <th>Reports</th>
                            <td>20</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr class="odd">
                            <th>Entries / Month</th>
                            <td>500</td>
                            <td>3,000</td>
                            <td>15,000</td>
                            <td>100,000</td>
                        </tr>
                        <tr>
                            <th>SSL Encryption</th>
                            <td>&mdash;</td>
                            <td><span class="check">&nbsp;</span></td>
                            <td><span class="check">&nbsp;</span></td>
                            <td><span class="check">&nbsp;</span></td>
                        </tr>
                        <tr class="odd">
                            <th>Payment Integration</th>
                            <td>&mdash;</td>
                            <td><span class="check">&nbsp;</span></td>
                            <td><span class="check">&nbsp;</span></td>
                            <td><span class="check">&nbsp;</span></td>
                        </tr>
                        <tr class="row-last">
                            <th>Storage</th>
                            <td>3 GB</td>
                            <td>15 GB</td>
                            <td>40 GB</td>
                            <td>100 GB</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!-- end pricing table - style 2 -->
            
            <!-- end main content -->
        </section>
        <!-- end content -->