<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Новое сообщение с сайта:</h3>
    </br>
    <p>Имя: <%= @question.name %></p>
    <p>Email: <%= @question.email %></p>
    </br>
    <p>Сообщение: <%= @question.message %></p>
  </body>
</html>