<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Вы успешно подписаны на новостную рассылку компании ООО СК "Рубин"</h1>
    <p>Hi <%= @question.name %></p>
  </body>
</html>