<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Вы успешно подписаны на новостную рассылку компании ООО СК "Рубин"</h3>
    <h6>
      Внимание! Не отвечайте на это письмо.</br>
      Если у Вас есть вопрос или предложение, напишите по адресу: ckrubin@yandex.ru.
    </h6>
  </body>
</html>