<script type='text/javascript'>
    jQuery(function($){
        $(".tweet").tweet({
            join_text: "auto",
            avatar_size: 32,
            count: 2,
            loading_text: "Загрузка..."
        });
    });
</script>
<!-- begin footer -->
	<footer id="footer">
    	<div class="container">
            <!-- begin footer top -->
            <div id="footer-top">
                <div class="one-fourth">
                	<div class="widget">
                        <h3>О компании</h3>
                        <p>Строительная компания "Рубин" — является динамично развивающейся строительной компанией Самары и Самарской области, выполняющей полный спектр строительных работ.</p>
                        <p>Наша компания имеет большой опыт работы как с физическими лицами так и с муниципальными предприятиями города Самара.</p>
                    </div>
                </div>
                <div class="one-fourth">
                	<div class="widget latest-posts">
                        <h3>Последние сообщения</h3>
                        <ul>
                            <li>
                                <a href="blog-post.html">How to Make Innovative Ideas Happen</a>
                                <span>March 10, 2012</span>
                            </li>
                            <li> 
                            	<a href="blog-post.html">Web Development for the iPhone and iPad</a>
                                <span>March 10, 2012</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="one-fourth">
                	<div class="widget twitter-widget">
                    	<h3>Последние твиты</h3>
                        <div class="tweet">
                            <ul>
                            <% TwitterApi.tweets.each do |t| %>
                                <li>
                                    <%= t.text %>
                                </li>
                            <% end %>
                            </ul>                     
                        </div>
                    </div>
                </div>
                
                <div class="one-fourth column-last">
                	<div class="widget contact-info">
                    	<h3>Контакты</h3>
                        <p class="address"><strong>Адрес:</strong> 443066, г. Самара, <br/>
                        ул. Советской Армии, 93, офис 9</p>
                        <p class="phone"><strong>Телефон:</strong> +7 (846) 205-60-88</p>
                        <p class="email"><strong>Email:</strong> <a href="mailto:ckrubin@yandex.ru">ckrubin@yandex.ru</a></p>
                        <div class="social-links">
                        	<h4>Следите за нами</h4>
                            <ul>
                            	<li class="twitter"><a href="https://twitter.com/OooCKRubin" title="Twitter" target="_blank">Twitter</a></li>
                                <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100009533717436" title="Facebook" target="_blank">Facebook</a></li>
                                <li class="google"><a href="#" title="Google+" target="_blank">Google+</a></li>
                                <li class="instagramm"><a href="#" title="Instagramm" target="_blank">Instagramm</a></li>
                                <li class="vk"><a href="http://vk.com/ckrubin" title="В контакте" target="_blank">В контакте</a></li>
                                <li class="ok"><a href="http://ok.ru/profile/581715436348" title="Одноклассники" target="_blank">Одноклассники</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer top -->

            <!-- begin footer bottom -->
            <div id="footer-bottom">
            	<div class="center">
                	<p>Все права защищены &copy; 2015 СК "Рубин"</p>
                </div>
            </div>
            <!-- end footer bottom -->
        </div>
	</footer>
	<!-- end footer -->
</div>
<!-- end container -->